@media screen and (max-width: 1000px) {
    #Home .Right h1{
        font-size: 90px;
        letter-spacing: 4px;
    }
    #Home .Right span{
        padding-left: 6px;
    }

    .Parfomens .Left{
        width: 45%;
    }
    .Parfomens .Right{
        width: 45%;
    }

    /* close  */
  }
  /* query for tab mood  */
@media screen and (max-width: 700px) {
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 20px;
    }


    .Header{
        padding: 0px 30px;
    }
    .Header .MeluList{
        width: 400px;
    }
    #Home .Right {
        width: 100%;
        margin-top: -100px;
        text-align: center;
    }
    #Home .Left {
        width: 80%;
    }
    #Home .Right h1{
        font-size: 80px;
        letter-spacing: 4px;
    }
    #Home .Right span{
        padding: 0px;
    }
    #Home {
        flex-direction: column;
        justify-content: center;
        padding: 0px 30px;
    }

    #Home .ScrollNtf{
        margin-top: 60px;
        font-size: 10px;
    }
    .Section{
        padding: 0px 30px;
    }
    #About{
        flex-direction: column;
        text-align: center;
    }
    #About h2{
        text-align: center;
    }
    #About .Border{
        margin-top: 20px;
    }
    #About .Text{
        text-align: center;
        width: 100%;
    }
    #About .Text .FormMe .Cnt{
        justify-content: center;
    }

    .Parfomens{
        flex-direction: column-reverse;
    }
    .Parfomens .Left{
        width: 100%;
    }
    .Parfomens .Right{
        width: 100%;
    }
    .Parfomens .Right  .Conten{
        width: 100%;
        height: 130px;
    }

    #Resume{
        width: 100%;
    }
    #Resume .Content{
        flex-direction: column;
        width: 100%;
        gap: 0px;
    }
    #Resume .Content .Center{
        display: none;
    }
    #Portfolio h3{
        width: 100%;
    }
    #Portfolio .Pf_area{
        width: 100%;
        gap: 0px;
        flex-direction: column;
    }
    #Portfolio .Pf_area .Pf_cont_ar{
        width: 100%;
    }

    #Contact{
        flex-direction: column;

    }
    #Contact .Cnt_left{
        width: 100%;
    }
    #Contact .Cnt_right{
        width: 100%;
    }
    #Contact .Cnt_left form textarea{
        height: 100px;
        margin-top: 10px;
    }

    #Contact .Cnt_right .Addrs{
        width: 100%;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600px;
        background-color: #070707;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: left;
    
    }
    



    /* clossing  */
  }
  

  @media screen and (max-width: 500px) {
    .Header .MeluList{
        width: 100%;
    
    }
  }